<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sauceLabsSection" 
             type="Endjin.SpecFlow.Selenium.Configuration.SauceLabsSection, Endjin.SpecFlow.Selenium, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <sauceLabsSection xmlns="urn:Endjin.SpecFlow.Selenium.Configuration">
    <credentials accessKey="access_key" url="url" userName ="user_name"/>
    <capabilities>
      <capability key="test_key" browser="Chrome" browserVersion="10" platform="Windows 8"/>
    </capabilities>
  </sauceLabsSection>
</configuration>